*:focus {
  outline: none;
}
body {
  background-image: url('/assets/homepage/img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.badge {
  background-color: white !important;
  border-radius: 20px;
}
.icon {
  font-size: 25px;
}
.icon2 {
  font-size: 20px;
}
.search {
  border-radius: 50px;
}
