*:focus {
  outline: none;
}

body {
  background-image: url('/assets/homepage/img1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.badge {
  background-color: white !important;
  border-radius: 20px;
}

.icon {
  font-size: 25px;
}

.icon2 {
  font-size: 20px;
}

.search {
  background-color: white !important;
  border-radius: 50px;
}

.cta {
  height: 600px;
  position: relative;
}

.center1 {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center2 {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spacer2 {
  height: 200px;
}

.spacer3 {
  height: 300px;
}

.spacer4 {
  height: 400px;
}

.g1 {
  width: 100%;
}
