*:focus {
  outline: none;
}

body {
  background-image: url('/assets/homepage/img1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.badge {
  background-color: white !important;
  border-radius: 20px;
}

.icon {
  font-size: 25px;
}

.icon2 {
  font-size: 20px;
}

.search {
  background-color: white !important;
  border-radius: 50px;
  min-width: 47vw;
  max-width: 55vw;
}

.search-bar {
  display: flex;
  flex-wrap: nowrap !important;
}

.search-icon {
  margin-left: -60px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: red !important;
  color: white !important;
}

.input-text {
  font-size: 12px;
}

.cta {
  height: 600px;
  position: relative;
}

.center1 {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center2 {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spacer5 {
  height: 5px;
}

.spacer50 {
  height: 50px;
}

.spacer100 {
  height: 100px;
}

.spacer200 {
  height: 200px;
}

.spacer300 {
  height: 300px;
}

.spacer400 {
  height: 400px;
}

.text-black {
  color: black;
  font-size: 12px;
}

.right {
  margin-right: 60px;
}

.white {
  margin-top: 15rem;
}
